In [142]:
# IMPORTING MODULES
import os
import pandas as pd
# import plotly.express as px
import chart_studio.plotly as py
import plotly.figure_factory as ff
import plotly.graph_objects as go

In [70]:
# SETTING PATH VARIABLES
JUDICIAL_DATA_CSV_FOLDER_PATH = "/mnt/e/judicial_data_csv/"

ACTS_SECTIONS_CSV = os.path.join(
                        JUDICIAL_DATA_CSV_FOLDER_PATH, 
                        "acts_sections.csv"
                    )
CASES_CSV_FOLDER = os.path.join(JUDICIAL_DATA_CSV_FOLDER_PATH, "cases/cases/")
JUDGES_CSV = os.path.join(JUDICIAL_DATA_CSV_FOLDER_PATH,
                          "judges_clean/judges_clean.csv")
KEYS_CSV = os.path.join(JUDICIAL_DATA_CSV_FOLDER_PATH, "keys.csv")

# To test if the file is being read properly
"""
for dirname, _, filenames in os.walk(JUDICIAL_DATA_CSV_FOLDER_PATH):
    for filename in filenames:
        print(os.path.join(dirname, filename))
"""

'\nfor dirname, _, filenames in os.walk(JUDICIAL_DATA_CSV_FOLDER_PATH):\n    for filename in filenames:\n        print(os.path.join(dirname, filename))\n'

In [7]:
df = pd.read_csv(os.path.join(CASES_CSV_FOLDER, "cases_2010.csv"))
df.head()

,ddl_case_id,year,state_code,dist_code,court_no,cino,judge_position,female_defendant,female_petitioner,female_adv_def,female_adv_pet,type_name,purpose_name,disp_name,date_of_filing,date_of_decision,date_first_list,date_last_list,date_next_list
0,01-01-01-200308002162010,2010,1,1,1,MHNB030013812010,chief judicial magistrate,0 male,1 female,0,-9998,790,5228.0,42,2010-12-13,2011-06-19,2011-06-08,2011-06-20,2011-06-24
1,01-01-01-200707000172010,2010,1,1,1,MHNB030004552010,chief judicial magistrate,-9998 unclear,1 female,-9999,0,2587,3627.0,42,2010-02-25,2010-11-21,2010-08-06,2010-08-06,2010-11-30
2,01-01-01-200707000182010,2010,1,1,1,MHNB030004562010,chief judicial magistrate,-9998 unclear,-9998 unclear,-9999,0,2587,3627.0,42,2010-02-25,2010-11-21,2010-08-06,2010-08-06,2010-11-30
3,01-01-01-200707000192010,2010,1,1,1,MHNB030004582010,chief judicial magistrate,-9998 unclear,1 female,-9999,0,2587,3627.0,42,2010-02-25,2010-11-21,2010-08-06,2010-08-06,2010-11-30
4,01-01-01-200707000202010,2010,1,1,1,MHNB030004592010,chief judicial magistrate,-9998 unclear,-9998 unclear,-9999,0,2587,3627.0,42,2010-02-25,2010-11-21,2010-08-06,2010-08-06,2010-11-30

In [145]:
# Plotting the data

# len(df) %returns O(10**7)%

# CITING SOURCES
# 1) https://stackoverflow.com/questions/50089903/convert-column-to-timestamp-pandas-dataframe
# 2) https://www.geeksforgeeks.org/get-minimum-values-in-rows-or-columns-with-their-index-position-in-pandas-dataframe/
# 3) https://stackoverflow.com/questions/19324453/add-missing-dates-to-pandas-dataframe
# 4) https://www.w3schools.com/python/pandas/ref_df_min.asp#:~:text=The%20min()%20method%20returns,minimum%20value%20for%20each%20row.
# 5) https://www.geeksforgeeks.org/how-to-sort-a-pandas-dataframe-by-date/
# 6) https://www.datasciencemadesimple.com/create-frequency-table-of-column-in-pandas-python-2/
# 7) https://datagy.io/pandas-value-counts/
# 8) https://stackoverflow.com/questions/47136436/python-pandas-convert-value-counts-output-to-dataframe
# 9) https://stackoverflow.com/questions/32888124/pandas-out-of-bounds-nanosecond-timestamp-after-offset-rollforward-plus-adding-a
# 10) https://stackoverflow.com/questions/19324453/add-missing-dates-to-pandas-dataframe
# 11) https://stackoverflow.com/questions/26097916/convert-pandas-series-to-dataframe
# 12) https://stackoverflow.com/questions/61233041/module-not-found-error-no-module-named-chart-studio
# 13) https://plotly.com/python/ipython-notebook-tutorial/


df['date_of_decision'] = pd.to_datetime(
    df['date_of_decision'], errors='coerce')

min_date = df[['date_of_filing', 'date_of_decision']].min().min()
max_date = df[['date_of_filing', 'date_of_decision']].max().max()

range_of_dates = pd.date_range(min_date, max_date)

freq_filed_cases = df['date_of_filing'].value_counts()
freq_filed_cases.index = pd.DatetimeIndex(freq_filed_cases.index)
freq_filed_cases = freq_filed_cases.reindex(range_of_dates, fill_value=0)
# freq_filed_cases.head()

freq_solved_cases = df['date_of_decision'].value_counts()
freq_solved_cases.index = pd.DatetimeIndex(freq_solved_cases.index)
freq_solved_cases = freq_solved_cases.reindex(range_of_dates, fill_value=0)

freq_pending_cases = freq_filed_cases.subtract(freq_solved_cases)

df_pending_cases = pd.DataFrame({
    'date'          : freq_pending_cases.index, 
    'num_pending_cases' : freq_pending_cases.values
})
df_pending_cases['cum_pending_cases'] = df_pending_cases['num_pending_cases'].cumsum()
df_pending_cases.head()

# table = ff.create_table(df_pending_cases)
# py.iplot(table, filename='Pending Cases during 2010')
# df_pending_cases.plot(
#         x = 'date', 
#         y = 'cum_pending_cases', 
#         xlim = (min_date, max_date),
#         title = 'Number of pending cases over time'
# )

        date  num_pending_cases  cum_pending_cases
0 1900-01-01                -17                -17
1 1900-01-02                  0                -17
2 1900-01-03                  0                -17
3 1900-01-04                 -1                -18
4 1900-01-05                  0                -18